{% extends 'layout.twig' %}
{% block content %}

<a href="{{ path('index') }}">&larr; Back to overview</a>

<h2>Emote '{{ emote }}'</h2>

<h3>Leaderboard</h3>
<table>
	<tr>
		<th>User</th>
		<th>Occurrences</th>
	</tr>
{% for user in leaderboard %}
	<tr>
		<td><a href="{{ path('emote_user', { emote: emote, username: user.username }) }}">{{ user.username }}</a></td>
		<td>{{ user.occurrences }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
