{% extends 'layout.twig' %}
{% block additionalHeaders %}
<style type="text/css">
	.channel-graph {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	#channel-template {
		display: none;
	}
</style>
{% endblock %}
{% block content %}

{% embed 'period_picker.twig' %}
	{% block action %}{{ path('index') }}{% endblock %}
{% endembed %}

<h2>Channels</h2>

<div id="channel-graphs">
	<div id="channel-template" class="channel-graph">
		<h5><a href="" class="channel-name"></a></h5>
		<div class="chart" style="height: 240px"></div>
	</div>
</div>

<script type="text/javascript">
	function drawTotalsChart(channelName, channelStats, channelMinMessages, channelPath) {
		var channelDiv = $('#channel-template').clone();
		channelDiv.attr('id', 'channel-' + channelName);
		var channelNameElem = channelDiv.find('.channel-name');
		channelNameElem.text(channelName);
		channelNameElem.attr('href', channelPath);
		$('#channel-graphs').append(channelDiv);

		var data = google.visualization.arrayToDataTable(channelStats);
		var chart = new google.visualization.LineChart(channelDiv.find('.chart')[0]);
		var emoteChartOptions = {...chartOptions};
		$.extend(true, emoteChartOptions, {
			vAxis: {
				gridlines: {
					count: 5
				},
				viewWindow: {
					min: Math.max(0, channelMinMessages - 200)
				},
				viewWindowMode: "explicit"
			},
			hAxis: {
				format: 'dd/MM/yyyy HH:mm',
				slantedText: true,
				slantedTextAngle: 45,
			},
			chartArea: {
				left: 80,
				top: 0,
				width: '85%',
				height: '60%'
			}
		});
		chart.draw(data, emoteChartOptions);
	}

	function drawCharts() {
		var channelName = "";
		var channelStats = [];
		var channelPath = "";
		{% for channel in channels %}
		channelName = "{{ channel.name }}";
		channelPath = "{{ path('channel', { channel: channel.name }) }}";
		channelStats = [
			[ 'Time', 'Messages' ]
			{% for stat in channel.totalMessageCountSamples %}
			,[new Date({{ stat.timestamp }}), {{ stat.messages }}]
			{% endfor %}
		];
		drawTotalsChart(channelName, channelStats, {{ channel.windowStartTotalMessages }}, channelPath);
		{% endfor %}
	}
</script>

{% endblock %}
