{% extends 'layout.twig' %}
{% block content %}

<p>
	<form action="{{ path('index') }}" method="GET">
		Show last <input type="text" value="{{ shownMinutes }}" name="shownMinutes" pattern="[0-9]+" /> minutes
		<button type="submit">Go</button>
	</form>
</p>

<script type="text/javascript">
	function drawCharts() {
		drawEmoteChart();
		drawTotalsChart();
		drawUserChart();
	}
</script>

<h2>Emotes</h2>
<p><b>Channel emotes:</b> {% for emote,type in emotes if type == 0 %}<a href="{{ path('emote', {emote:emote}) }}">{{ emote }}</a> {% endfor %}</p>
<p><b>Global twitch emotes:</b> {% for emote,type in emotes if type == 1 %}<a href="{{ path('emote', {emote:emote}) }}">{{ emote }}</a> {% endfor %}</p>
<p><b>BTTV:</b> {% for emote,type in emotes if type == 2 %}<a href="{{ path('emote', {emote:emote}) }}">{{ emote }}</a> {% endfor %}</p>
<p><b>FFZ:</b> {% for emote,type in emotes if type == 3 %}<a href="{{ path('emote', {emote:emote}) }}">{{ emote }}</a> {% endfor %}</p>
<p><b>Emoji:</b> {% for emote,type in emotes if type == 4 %}<a href="{{ path('emote', {emote:emote}) }}">{{ emote }}</a> {% endfor %}</p>
<p><b>Other:</b> {% for emote,type in emotes if type < 0 or type > 4 %}<a href="{{ path('emote', {emote:emote}) }}">{{ emote }}</a> {% endfor %}</p>

<h2>Emote overview</h2>
<p><a href="{{ path('emotes') }}">Emote leaderboard</a></p>
<div id="emote-stats-chart" style="width:1000px; height:400px"></div>

<script type="text/javascript">
	function populateEmoteChartData() {
		var chartData = [
			[ 'Time'{% for emote in emoteStats|keys %}, '{{ emote }}'{% endfor %} ]
		{% for emote, emoteStat in emoteStats %}
			{%- for stat in emoteStat -%}
			,[new Date({{ stat.timestamp }}){% for emote2 in emoteStats|keys %},{% if emote2 == emote %}{{ stat.occurrences }}{% else %}null{% endif %}{% endfor %}]
			{%- endfor -%}
		{% endfor %}
		];
		return chartData;
	}

	function drawEmoteChart() {
		var chartData = populateEmoteChartData();
		var data = google.visualization.arrayToDataTable(chartData);
		var chart = new google.visualization.LineChart(document.getElementById('emote-stats-chart'));
		var emoteChartOptions = {
			vAxis: {
				gridlines: {
					count: 10
				},
				viewWindow: {
					min: Math.max(0, {{ emoteStatsMinOccurrences }} - 500)
				},
				viewWindowMode: "explicit"
			}
		};
		$.extend(true, emoteChartOptions, chartOptions);
		console.debug(emoteChartOptions);
		chart.draw(data, emoteChartOptions);
	}
</script>


<h2>Total messages</h2>

<div id="total-stats-chart" style="width:1000px; height:400px"></div>

<script type="text/javascript">
	function drawTotalsChart() {
		var chartData = [
			[ 'Time', 'Messages' ]
			{%- for stat in channelStats -%}
			,[new Date({{ stat.timestamp }}), {{ stat.message_count }}]
			{%- endfor -%}
		];
		var data = google.visualization.arrayToDataTable(chartData);
		var chart = new google.visualization.LineChart(document.getElementById('total-stats-chart'));
		chart.draw(data, chartOptions);
	}
</script>





<h2>User message count overview</h2>

<p>
	<a href="{{ path('users') }}">User Leaderboard</a>
</p>

<div id="user-stats-chart" style="width:1000px; height:400px"></div>

<script type="text/javascript">
	function populateUsersData() {
		var chartData = [
			[ 'Time'{% for username in topChatters|keys %}, '{{ username }}'{% endfor %} ]
		{% for username, userStat in topChatters %}
			{%- for stat in userStat -%}
			,[new Date({{ stat.timestamp }}){% for username2 in topChatters|keys %},{% if username2 == username %}{{ stat.message_count }}{% else %}null{% endif %}{% endfor %}]
			{%- endfor -%}
		{% endfor %}
		];
		return chartData;
	}

	function drawUserChart() {
		var chartData = populateUsersData();
		var data = google.visualization.arrayToDataTable(chartData);
		var chart = new google.visualization.LineChart(document.getElementById('user-stats-chart'));
		chart.draw(data, chartOptions);
	}
</script>


{% endblock %}
