{% extends 'layout.twig' %}
{% block content %}

<p><a href="{{ path('users', { channel: channel }) }}"><i class="fa fa-long-arrow-left"></i> Back to user leaderboard</a></p>

{% embed 'period_picker.twig' %}
	{% block action%}{{ path('user', { channel: channel, username: username }) }}{% endblock %}
{% endembed %}

<h2>User '{{ username }}'</h2>

<p><b>Shown time range:</b> {{ (windowEnd - windowStart)|date_duration }}</p>

<h3>Message count</h3>
<div id="user-graph" style="width:800px; height:300px"></div>
<script type="text/javascript">
	function drawMessageCountChart() {
		var chartData = [
			['Time', 'Messages'],
			{% for stat in stats %}
				[new Date({{ stat.timestamp }}), {{ stat.total_messages }}],
			{% endfor %}
		];
		var data = google.visualization.arrayToDataTable(chartData);
		var chart = new google.visualization.LineChart(document.getElementById('user-graph'));
		chart.draw(data, chartOptions);
	}
</script>

<h3>Used emotes</h3>

<div id="user-emotes-chart" style="width: 600px; height: 300px;"></div>

<script type="text/javascript">
	function drawEmotesChart() {
		var chartData = [
			['Emote', 'Usages'],
		{% set otherCount = 0 %}
		{% for emote, numUsed in emoteUsages %}
			{% if loop.index <= 5 %}
				['{{ emote }}', {{ numUsed }}],
			{% else %}
				{% set otherCount = otherCount + 1 %}
			{% endif %}
		{% endfor %}
			['Other', {{ otherCount }}]
		];
		var data = google.visualization.arrayToDataTable(chartData);
		var chart = new google.visualization.PieChart(document.getElementById('user-emotes-chart'));
		chart.draw(data, chartOptions);
	}
</script>

<script type="text/javascript">
	function drawCharts() {
		drawMessageCountChart();
		drawEmotesChart();
	}
</script>

<table class="table table-dark table-striped table-hover">
	<thead>
		<tr>
			<th>Emote</th>
			<th>Times used</th>
		</tr>
	</thead>
	<tbody>
		{% for emote, numUsed in emoteUsages %}
		<tr>
			<td><a href="{{ path('emote', { channel: channel, emote: emote }) }}">{{ emote }}</a></td>
			<td>{{ numUsed }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
